*.exe
*.bgn
*.bld
*.html
*.cmd_log
*.ini
*.prj
*.drc
*.gise
*.map
*.log
*.lso
*.csv
*.mif
*.mrp
*.ncd
*.ngc
*.ngd
*.ngm
*.ngr
*.pad
*.par
*.pcf
*.ptwx
*.stx
*.syr
*.tfi
*.twr
*.twx
*.txt
*.unroutes
*.ut
*.wcfg
*.wdb
*.cmd
*.ipf
*.xml
*.xmsgs
*.xpi
*.xrpt
*.xsl
*.xst
*.xsvf
*.xwbt
